<div class="container mx-auto m-5 p-5">

  <h6 class="ml-5 mb-5" style="color: #ff6600;">Existing Categories</h6>  


<div class=" mx-auto col-md-11 col-lg-11 col-sm-12 m-5">
 
 
 {{#if errMessage}}
  <div class="alert alert-danger col-md-8" role="alert" >
  {{errMessage}} Move <a href="/admin/viewproducts" class="alert-link">Products</a> to another category
</div>
 {{/if}}
  {{#if succMessage}}
 <div class="alert alert-success" role="alert">
  {{succMessage}}
</div>
 {{/if}}
   
    <table class="table align-middle mb-0 bg-white mb-5">
  <thead class="bg-light">
    <tr>
      <th>Category Name</th>
      <th>Description</th>
      <th>Total Products</th>
      <th>Stock</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each categories}}
    <tr>
      <td>
        <div class="d-flex align-items-center">
            <p class="fw-bold mb-1">{{this.name}}</p>
        </div>
        </td>
      <td>
          <div class="ms-0">
              <p class="text-muted mb-0">{{this.description}}</p>
            </div>
      </td>
      <td>
        <p class="fw-normal mb-1">Null</p>
      </td>
      <td>
        <span class="badge badge-success rounded-pill d-inline">Active</span>
      </td>
      <td>
        <a  href="/admin/delete-category/{{this._id}}" class="btn btn-sm btn-rounded" onclick="return confirm('Do You Want To Delete {{this.name}}?')">
          DELETE
        </a>
        <a  href="/admin/edit-category/{{this._id}}" class="btn btn-sm btn-rounded">
          EDIT
        </a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>

<div class="container mt-5">

    <h6 class="ml-5 mt-5" style="color: #ff6600;">Add  New Category</h6>
    <div class="mx-0 col-lg-6 mt-3 mb-5 d-flex flex-row " >
        
	    <p class="mx-0" id="err" style="color: #ff0000;">
    
        </p>
					<form class="mb-5 ml-5 row contact_form" action="/admin/add-category" method="post" id="contactForm" novalidate="novalidate">
						<div class="col-md-6">
							<div class="form-group">
                                <label class="m-3"> Category Name</label>
								<input type="text" class="form-control" id="name" name="name" placeholder="Enter Category Name">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
                                 <label class="m-3"> Description</label>
								<input class="form-control" name="description" id="description" rows="1" placeholder="Enter Description"></input>
							</div>
						</div>
						
						<div class="col-md-12 text-right">
							<button type="submit" value="submit" class="primary-btn">Add Category</button>
						</div>
					</form>
    </div>


    {{!-- <div class="container mb-5">
 <div class="p-5 m-2 checkout_btn_inner d-flex align-items-center ">
                                      
                                        <a class="primary-btn" href="/admin/addproducts">Add Products</a>
</div> --}}

 
</div>
</div>



{{!-- //============================================ F O R M    V A L I D A T I O N =================================== --}}


<script>

	const form=document.getElementById('contactForm')
	const name=document.getElementById('name')
	const description=document.getElementById('description')
	const err=document.getElementById('err')

	form.addEventListener('submit',(e)=>{
		let messages=[]
		if(name.value==='' || description.value===''){
			messages.push('All fields Required!')
		}
		
		if(messages.length>0){
			e.preventDefault()
			err.innerText=messages.join(',')
		
		}
	
	})

</script>




			