<!--================Order Details Area =================-->


<section class="order_details section_gap">
	<div class="container">
		<h3 class="title_confirmation">Thank you. Your order has been received. </h3>
		<div class="d-flex align-items-center"><a class="btn btn-primary mx-auto mb-5" href="/orders">View All
				Orders</a></div>

		<div class="row order_d_inner">
			<div class="col-lg-4">
				<div class="details_item">
					<h4>Order Info</h4>
					<ul class="list">
						<li><a href="#"><span>Order ID</span> : {{order._id}}</a></li>
						<li><a href="#"><span>Date</span> : {{order.date}}</a></li>
						<li><a href="#"><span>Total</span> :$ {{order.productsNetAmount}}</a></li>
						<li><a href="#"><span>Payment method</span> : {{order.paymentMethod}}</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="details_item">
					<h4>Billing Address</h4>
					<ul class="list">
						<li><a href="#"><span>Street</span> : {{order.deliveryDetails.address}}</a></li>
						<li><a href="#"><span>City</span> : {{order.deliveryDetails.town}}</a></li>
						<li><a href="#"><span>Postcode </span> : {{order.deliveryDetails.zip}}</a></li>
						<li><a href="#"><span>Mobile</span> : {{order.deliveryDetails.mobile}}</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="details_item">
					<h4>Shipping Address</h4>
					<ul class="list">
						<li><a href="#"><span>Street</span> : {{order.deliveryDetails.address}}</a></li>
						<li><a href="#"><span>City</span> : {{order.deliveryDetails.town}}</a></li>
						<li><a href="#"><span>Postcode </span> : {{order.deliveryDetails.zip}}</a></li>
						<li><a href="#"><span>Mobile</span> : {{order.deliveryDetails.mobile}}</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="order_details_table">
			<h2>Order Details</h2>
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Product</th>
							<th scope="col">Quantity</th>
							<th scope="col">Total</th>
						</tr>
					</thead>
					<tbody>

						{{#each order.products}}
						<tr>
							<td>
								<p>{{this.name}}</p>
							</td>
							<td>
								<h5>x {{this.quantity}}</h5>
							</td>
							<td>
								<p>${{this.price}} X {{this.quantity}}</p>
							</td>
						</tr>
						{{/each}}
						{{#if order.couponApplied}}
						<tr>
							<td>Coupon Discount</td>
							
							<td></td>
							<td>
								-${{order.couponDiscount}}.00
							</td>
						</tr>
						{{/if}}
						<tr>
							<td>
								<h4>Subtotal</h4>
							</td>
							<td>
								<h5></h5>
							</td>
							<td>
								<p>${{order.productsNetAmount}}</p>
							</td>
						</tr>
						<tr>
							<td>
								<h4>Shipping</h4>
							</td>
							<td>
								<h5></h5>
							</td>
							<td>
								<strike>$50.00</strike>
								<p>Free</p>
							</td>
						</tr>
						<tr>
							<td>
								<h4>Total</h4>
							</td>
							<td>
								<h5></h5>
							</td>
							<td>
								<p>${{order.productsNetAmount}}.00</p>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>
<script>
	swal("Order Placed!", "Thank You For Choosing bShope!", "success");
</script>
<!--================End Order Details Area =================-->